.widthContainer {
  margin: 0 auto;
  width: 1168px;
}

.mainSectionContainer {
  width: 100%;
  height: 599px;
  background-image: url("/public/image/networkingProgram/mainBackground.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDescriptionContainer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.mainDescription {
  padding: 48px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.04em;
}
.mainDescription strong {
  color: #00f0ff;
}

.mainTitle {
  font-weight: 900;
  font-size: 77.0008px;
  line-height: 92px;
  letter-spacing: -0.05em;
  color: #ffffff;
}
.mainTitle strong {
  color: #00f0ff;
}

.mainSubTitle {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.mainButtonContainer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.mainButtonContainer a {
  width: 368px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 4px solid #ffffff;
  border-radius: 10px;
  font-weight: 900;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: -1px;
  color: #ffffff;
  cursor: pointer;
}
.mainButtonContainer a img {
  width: 30px;
  height: 30px;
}

.sub1SectionContainer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub1SectionTitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 78px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -2px;
  color: #000000;
}

.sub1SectionSubTitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -1px;
  color: #626262;
}

.sub1SectionDescriptionContainer {
  margin: 38px 0 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #363636;
}
.sub1SectionDescriptionContainer > div:nth-child(1) {
  font-weight: 800;
  font-size: 20.4836px;
  line-height: 23px;
  letter-spacing: -0.731557px;
}
.sub1SectionDescriptionContainer > div:nth-child(2) {
  margin-top: 17px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -1px;
}
.sub1SectionDescriptionContainer > div:nth-child(3) {
  margin-top: 28px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -1px;
}

.sub1SectionCardContainer {
  margin-bottom: 81px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 32px;
}

.sub1SectionCard {
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 9px;
  box-sizing: border-box;
}
.sub1SectionCard > .profile {
  padding: 22px 0 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub1SectionCard > .profile > div:nth-child(1) {
  position: relative;
  width: 90px;
  height: 90px;
}
.sub1SectionCard > .profile > div:nth-child(1) > img {
  position: absolute;
  width: 90px;
  height: 90px;
}
.sub1SectionCard > .profile > div:nth-child(1) > svg {
  position: absolute;
  bottom: -2px;
  right: -2px;
}
.sub1SectionCard > .profile > div:nth-child(2) {
  margin-top: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
.sub1SectionCard > .profile > div:nth-child(3) {
  margin-top: 5px;
  width: 8px;
  height: 2px;
  background-color: #000000;
}
.sub1SectionCard > .profile > div:nth-child(4) {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.sub1SectionCard > .profile > div:nth-child(4) > img {
  width: 56px;
  height: 26px;
}
.sub1SectionCard > .role {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #919191;
  background: #ececec;
  border-radius: 0px 0px 8px 8px;
}

.sub2SectionContainer {
  width: 100%;
  height: 774px;
  background-image: url("/public/image/networkingProgram/sub2Background.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.sub2SectionDescriptionContainer {
  padding: 42px 0 71px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.sub2SectionDescriptionContainer > div:nth-child(1) {
  font-weight: 800;
  font-size: 20.4836px;
  line-height: 23px;
  letter-spacing: -0.731557px;
}
.sub2SectionDescriptionContainer > div:nth-child(2) {
  margin-top: 17px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -1px;
}
.sub2SectionDescriptionContainer > div:nth-child(3) {
  margin-top: 28px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -1px;
}

.sub2SectionCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.sub2SectionCard {
  width: 368px;
  display: flex;
  flex-direction: column;
}
.sub2SectionCard > div:nth-child(1) {
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
  letter-spacing: -0.994145px;
  color: #00f0ff;
}
.sub2SectionCard > ul {
  margin: 13px 0;
  padding: 0 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.994145px;
  color: #ffffff;
}
.sub2SectionCard > ul p {
  margin: 0;
  padding: 0;
}
.sub2SectionCard > a {
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  background: #00f0ff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.780928px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.sub3SectionContainer {
  padding: 72px 0 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub3SectionTitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 78px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -2px;
  color: #000000;
}

.sub3SectionSubTitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -1px;
  color: #626262;
}

.sub3SectionCardContainer {
  margin: 50px 0 72px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.sub3SectionCard {
  width: 267px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 9px;
  box-sizing: border-box;
}
.sub3SectionCard > .profile {
  padding: 0 0 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub3SectionCard > .profile > div:nth-child(1) {
  width: 100%;
  display: flex;
  align-items: center;
}
.sub3SectionCard > .profile > div:nth-child(1) > img {
  width: 88px;
  height: 41px;
}
.sub3SectionCard > .profile > div:nth-child(2) {
  position: relative;
  width: 90px;
  height: 90px;
}
.sub3SectionCard > .profile > div:nth-child(2) > img {
  position: absolute;
  width: 90px;
  height: 90px;
}
.sub3SectionCard > .profile > div:nth-child(2) > svg {
  position: absolute;
  bottom: -2px;
  right: -2px;
}
.sub3SectionCard > .profile > div:nth-child(3) {
  margin-top: 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.994145px;
  color: #000000;
}
.sub3SectionCard > .profile > div:nth-child(3) p {
  margin: 0;
  padding: 0;
}

.sub3SectionCard > .button {
  margin: 0 auto 18px;
  width: 239px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 37px;
  letter-spacing: -1px;
  color: #ffffff;
  text-decoration: none;
}
