body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "NotoSansKR";
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}


@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "AlongSanss2";
  font-display: fallback;

  /* 
  src: 사용할 폰트의 위치 및 형식 
     Safari, Android, iOS => ttf
     Modern Browsers => woff
     IE6-IE8 => eot
  */
  src: local("AlongSanss2"), url("./static/fonts/AlongSanss2-Regular.eot"),
    url("./static/fonts/AlongSanss2-Regular.woff2") format("woff2"),
    url("./static/fonts/AlongSanss2-Regular.woff") format("woff"),
    url("./static/fonts/AlongSanss2-Regular.otf") format("opentype"),
    url("./static/fonts/AlongSanss2-Regular.eot?iefix")
      format("embedded-opentype");

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "NotoSansKR";
  font-display: fallback;

  /* 
  src: 사용할 폰트의 위치 및 형식 
     Safari, Android, iOS => ttf
     Modern Browsers => woff
     IE6-IE8 => eot
  */
  src: local("NotoSansKR"), url("./static/fonts/NotoSansKR-Regular.eot"),
    url("./static/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("./static/fonts/NotoSansKR-Regular.woff") format("woff"),
    url("./static/fonts/NotoSansKR-Regular.otf") format("opentype"),
    url("./static/fonts/NotoSansKR-Regular.eot?iefix")
      format("embedded-opentype");

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 400;
  font-style: normal;
}
